html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202020;
    body {
        margin: 0;
        padding: 0;
        background-color: #eee;
        header {
            width: 100%;
            height: 100px;
            font-size: 30px;
            h1 {
                // display: inline-block;
                height: 80px;
                padding: 0;
                font-family: 'Montserrat', sans-serif;
                font-size: 80px;
                color: transparent;
                text-align: center;
                -webkit-text-stroke: 3px #333;
                letter-spacing: 0.2em;
                background: linear-gradient(bottom, #00a381 0%, #00a381 42%, #eee 43%, #eee 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .sns_icon {
                display: inline-block;
                width: 60px;
                height: 60px;
                margin: 20px 5%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .top {
                position: fixed;
                bottom: 30px;
                right: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: white;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                overflow: hidden;
                cursor: pointer;
                z-index: 3000;
                img {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: block;
                    width: 30px;
                    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
                    z-index: 1;
                }
                .scroll-color {
                    width: 100%;
                    // height: 50%;
                    position: absolute;
                    bottom: 0;
                    background: #00a381;
                }
                @media screen and (max-width: 1000px){
                    width: 80px;
                    height: 80px;
                    img {
                        top: 20px;
                        left: 20px;
                        width: 40px;
                    }
                }
            }
        .wrapper {
            width: 90%;
            margin: 0 auto;
            h2 {
                display: inline-block;
                width: 100%;
                height: 30px;
                font-size: 30px;
                text-align: center;
                margin: 3em auto 0;
                color: black;
                opacity: 0.8;
                border-bottom: 2px dashed white;
                .initial {
                    background: #00a381;
                    padding: 0 0.25em;
                    color: white;
                }
            }
            h3 {
                display: block;
                padding: 1em;
                text-align: center;
                margin: 0 auto;
                color: #808080;
                span {
                    // background: linear-gradient(transparent 60%, #99bfb1 60%);
                    border-top: 1px dashed #808080;
                    border-bottom: 1px dashed #808080;
                    padding: 0.3em;
                    background: rgba($color: white, $alpha: 0.5);
                }
            }
            .desc {
                color: #a0a0a0;
                font-weight: bold;
                text-align: center;
            }
            section {
                margin: 30px 0;
                max-width: 1200px;
                margin: 30px auto;
            }
            .window {
                width: 100%;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 0px 5px rgba(0,0,0,0.5); 
                .tabs {
                    width: 100%;
                    height: 50px;
                    display: flex;
                    background-color: #292929;
                    .circles {
                        width: 120px;
                        height: 100%;
                        padding: 0 15px;
                        display: flex;
                        box-sizing: border-box;
                        .circle {
                            width: 20px;
                            height: 20px;
                            margin: 15px 5px;
                            border-radius: 50%;
                        }
                        .circle_red {
                            background-color: #ee827c;
                        }
                        .circle_yellow {
                            background-color: #f5e56b;
                        }
                        .circle_green {
                            background-color: #68be8d;
                        }
                    }
                    .tab {
                        display: flex;
                        width: 20%;
                        height: 40px;
                        margin-top: 20px;
                        color: #c0c0c0;
                        font-size: 14px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        cursor: pointer;
                        &:hover {
                            margin-top: 10px;
                            background-color: #333;
                            img {
                            margin: 10px 0 10px 10px;
                        }
                            .tab_main {
                                height: 30px;
                                border: none;
                                line-height: 40px;
                            }
                        }
                        img {
                            height: 20px;
                            margin: 0 0 20px 10px;
                        }
                        .tab_main {
                            width: 100%;
                            height: 20px;
                            margin: 0 0 10px;
                            padding: 0 5%;
                            border-right: 1px solid #404040;
                            line-height: 20px;
                            box-sizing: border-box;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            span {

                            }
                        }
                    }
                    .tab_now {
                        margin-top: 10px;
                        background-color: #404040;
                        color: white;
                        img {
                            margin: 10px 0 10px 10px;
                        }
                        .tab_main {
                            height: 30px;
                            border: none;
                            line-height: 40px;
                        }
                        &:hover {
                            background-color: #404040;
                        }
                    }
                    
                }
                .search {
                    width: 100%;
                    height: 60px;
                    padding: 10px 10px 0;
                    box-sizing: border-box;
                    background-color: #404040;
                    display: flex;
                    .search_button {
                        width: 40px;
                        height: 40px;
                        // margin: 0 5px;
                        padding: 10px;
                        box-sizing: border-box;
                        border-radius: 50%;
                        &:hover {
                            background-color: #606060;
                        }
                        img {
                            width: 20px;
                        }
                        .rotate {
                            transform: rotate(120deg);
                        }
                    }
                    .search_bar {
                        width: 1040px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: #333;
                        line-height: 40px;
                        padding-left: 3%;
                        box-sizing: border-box;
                        margin-left: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: white;
                        &:hover {
                            background-color: #393939;
                        }
                        a {
                            margin: 0 auto;
                            text-decoration: none;
                            font-size: 14px;
                            color: white;
                            &:visited {
                                color: white;
                            }
                        }
                    }
                }
                .contents {
                    width: 100%;
                    height: 600px;
                    background-color: white;
                    overflow: scroll;
                    img {
                        width: 100%;
                    }
                }
            }
            .skills {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .skill {
                    $margin: 200px / 3 / 2;
                    width: 250px;
                    background-color: white;
                    padding-top: 10px;
                    box-sizing: border-box;
                    border-radius: 15px;
                    margin: $margin 0;
                    box-shadow: 0px 0 5px rgba(0,0,0,0.5);
                    &:hover {
                        $margin-top: $margin - 10;
                        $margin-bottom: $margin + 10;
                        box-shadow: 0px 20px 10px -10px rgba(0,0,0,0.5);
                        margin: $margin-top 0 $margin-bottom;
                    }
                    p {
                        text-align: center;
                        font-weight: bold;
                        color: #c0c0c0;
                    }
                    .skill_name {
                        text-align: center;
                        font-weight: bold;
                        font-size: 20px;
                        border-top: 1px dashed #eee;
                        line-height: 50px;
                    }
                    @mixin circle($background: #333){
                        position: relative;
                        width: 120px;
                        height: 120px;
                        background: $background;
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        margin: 30px auto 0;
                        z-index: 1;
                        box-shadow: 0 0 5px #a0a0a0;
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: -60px;
                            width: 120px;
                            height: 120px;
                            background: #eee;
                            transform-origin: right 60px;
                            z-index: 2;
                            animation-delay: 3s;
                        }
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 60px;
                            width: 120px;
                            height: 120px;
                            background: #eee;
                            transform-origin: left 60px;
                            z-index: 3;
                            animation-delay: 3s;
                        }
                        .circle-inner {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            width: 80px;
                            height: 80px;
                            line-height: 80px;
                            background: white;
                            border-radius: 50%;
                            z-index: 4;
                            box-shadow: 0 0 10px rgba(0,0,0,0.5);
                            img {
                                width: 40px;
                                margin-top: 20px;
                                // filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
                            }
                        }
                    }
                    .html {
                        @include circle(#ffbf7f);
                        .circle-inner {
                            img {
                                width: 35px;
                                margin-top: 22.5px;
                            }
                        }
                        @keyframes rotate-html-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #ffbf7f;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #ffbf7f;
                            }
                        }
                        @keyframes rotate-html-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(144deg); }
                        }
                    }
                    .html_anim {
                        &::before {
                            animation: rotate-html-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-html-right 1.5s linear 1s forwards;
                        }
                    }
                    .css {
                        @include circle(#7fbfff);
                        .circle-inner {
                            img {
                                width: 35px;
                                margin-top: 22.5px;
                            }
                        }
                        @keyframes rotate-css-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #7fbfff;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #7fbfff;
                            }
                        }
                        @keyframes rotate-css-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(108deg); }
                        }
                    }
                    .css_anim {
                        &::before {
                            animation: rotate-css-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-css-right 1.5s linear 1s forwards;
                        }
                    }
                    .js {
                        @include circle(#ffff7f);
                        .circle-inner {
                            img {
                                width: 35px;
                                margin-top: 22.5px;
                            }
                        }
                        @keyframes rotate-js-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #ffff7f;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #ffff7f;
                            }
                        }
                        @keyframes rotate-js-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(72deg); }
                        }
                    }
                    .js_anim {
                        &::before {
                            animation: rotate-js-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-js-right 1.5s linear 1s forwards;
                        }
                    }
                    .vue {
                        @include circle(#00ad79);
                        .circle-inner {
                            img {
                                margin-top: 25px;
                            }
                        }
                        @keyframes rotate-vue-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #00ad79;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #00ad79;
                            }
                        }
                        @keyframes rotate-vue-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(36deg); }
                        }
                    }
                    .vue_anim {
                        &::before {
                            animation: rotate-vue-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-vue-right 1.5s linear 1s forwards;
                        }
                    }
                    .ruby {
                        @include circle(#ed7b7b);
                        .circle-inner {
                            img {
                                margin-top: 25px;
                            }
                        }
                        @keyframes rotate-ruby-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            
                            100% {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                        }
                    }
                    .ruby_anim {
                        &::after {
                            animation: rotate-ruby-right 1.5s linear 1s forwards;
                        }
                    }
                    .php {
                        @include circle(#7174ad);
                        .circle-inner {
                            img {
                                width: 50px;
                                margin-top: 25px;
                            }
                        }
                        @keyframes rotate-php-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #7174ad;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #7174ad;
                            }
                        }
                        @keyframes rotate-php-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(36deg); }
                        }
                    }
                    .php_anim {
                        &::before {
                            animation: rotate-php-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-php-right 1.5s linear 1s forwards;
                        }
                    }
                    .swift {
                        @include circle(#e45e32);
                        .circle-inner {
                            img {
                                width: 40px;
                                margin-top: 20px;
                            }
                        }
                        @keyframes rotate-swift-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            100% {
                                transform: rotate(144deg);
                                background: #eee;
                            }
                        }
                    }
                    .swift_anim {
                        &::after {
                            animation: rotate-swift-right 1.5s linear 1s forwards;
                        }
                    }
                    .sql {
                        @include circle(#006489);
                        .circle-inner {
                            img {
                                width: 30px;
                                margin-top: 20px;
                            }
                        }
                        @keyframes rotate-sql-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #006489;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #006489;
                            }
                        }
                        @keyframes rotate-sql-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(72deg); }
                        }
                    }
                    .sql_anim {
                        &::before {
                            animation: rotate-sql-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-sql-right 1.5s linear 1s forwards;
                        }
                    }
                    .ai {
                        @include circle(#ee7300);
                        .circle-inner {
                            img {
                                width: 40px;
                                margin-top: 20px;
                            }
                        }
                        @keyframes rotate-ai-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            50%  {
                                transform: rotate(180deg);
                                background: #eee;
                            }
                            50.01% {
                                transform: rotate(360deg);
                                background: #ee7300;
                            }
                            100% {
                                transform: rotate(360deg);
                                background: #ee7300;
                            }
                        }
                        @keyframes rotate-ai-left {
                            0%   { transform: rotate(0deg); }
                            50%  { transform: rotate(0deg); }
                            100% { transform: rotate(72deg); }
                        }
                    }
                    .ai_anim {
                        &::before {
                            animation: rotate-ai-left 1.5s linear 1s forwards;
                        }
                        &::after {
                            animation: rotate-ai-right 1.5s linear 1s forwards;
                        }
                    }
                    .ps {
                        @include circle(#00b8dd);
                        .circle-inner {
                            img {
                                width: 40px;
                                margin-top: 20px;
                            }
                        }
                        @keyframes rotate-ps-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            100% {
                                transform: rotate(108deg);
                                background: #eee;
                            }
                        }
                    }
                    .ps_anim {
                        &::after {
                            animation: rotate-ps-right 1.5s linear 1s forwards;
                        }
                    }
                    .xd {
                        @include circle(#d73f90);
                        .circle-inner {
                            img {
                                width: 40px;
                                margin-top: 20px;
                            }
                        }
                        @keyframes rotate-xd-right {
                            0%   {
                                transform: rotate(0deg);
                                background: #eee;
                            }
                            100% {
                                transform: rotate(108deg);
                                background: #eee;
                            }
                        }
                    }
                    .xd_anim {
                        &::after {
                            animation: rotate-xd-right 1.5s linear 1s forwards;
                        }
                    }
                }
                .invisible {
                    height: 0;
                    opacity: 0;
                    padding: 0;
                    margin: 0;
                }
            }
            .about {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media screen and (max-width: 1000px) {
                    display: inline-block;
                    .right {
                        width: 80%;
                        margin: 50px auto 0;
                        p {
                            text-align: center;
                        }
                    }
                }
                .left {
                    // width: 50%;
                    img {
                        display: block;
                        width: 40%;
                        height: auto;
                        margin: 30px auto;
                        border-radius: 50%;
                        box-shadow: 0 0px 5px rgba(0,0,0,0.5); 
                        // animation: me 3s;
                        // @keyframes me {
                        //     0% {
                        //         transform: translateX(-1000px) rotate(0deg);
                        //     }
                        //     100% {
                        //         transform: translateX(0) rotate(1080deg);
                        //     }
                        // }
                        &:hover {
                            animation: photo 0.1s linear forwards;
                            @keyframes photo {
                                0% {
                                    transform: scale(1);
                                }
                                100% {
                                    transform: scale(1.1) rotate(15deg);
                                }
                            }
                        }
                    }
                    p {
                        font-weight: bold;
                        text-align: center;
                        margin: 10px;
                        &.name {
                            font-size: 24px;
                        }
                        &.info {
                            font-size: 16px;
                            color: #a0a0a0;
                        }
                    }
                }
                .right {
                    // width: 50%;
                    p {
                        font-size: 16px;
                        font-weight: bold;
                        span {
                            background: linear-gradient(transparent 60%, #ffff66 60%);
                        }
                    }
                    ul {
                        padding-left: 1em;
                        li {
                            list-style: none;
                            color: #808080;
                            margin: 0.5em 0;
                            .when {
                                background-color: #606060;
                                color: white;
                                padding: 0 0.2em;
                                margin: 0 0.5em;
                                border-radius: 0.2em;
                                .already {
                                    color: #666;
                                }
                            }
                            .skill {
                                border-bottom: 1px dashed #00a381;
                            }
                            a {
                                color: #808080;
                                &:visited {
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            width: 100%;
            margin: 100px 0 0;
            img {
                display: block;
                width: 15%;
                margin: 0 10% 0 auto;
                text-align: right;
                // vertical-align: bottom;
            }
            .footer {
                width: 100%;
                background-color: #333;
                padding: 20px 0 10px;
                box-sizing: border-box;
                p {
                    margin: 0;
                    text-align: center;
                    color: white;
                    a {
                        color: white;
                        text-decoration: none;
                        border-bottom: 1px dashed white;
                        &:visited {
                            color: white;
                        }
                    }
                }
                .github {
                    display: block;
                    width: 2em;
                    margin: 20px auto;
                    img {
                        width: 100%;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}










