html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #202020; }
  html body {
    margin: 0;
    padding: 0;
    background-color: #eee; }
    html body header {
      width: 100%;
      height: 100px;
      font-size: 30px; }
      html body header h1 {
        height: 80px;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        color: transparent;
        text-align: center;
        -webkit-text-stroke: 3px #333;
        letter-spacing: 0.2em;
        background: -webkit-gradient(linear, left bottom, left top, from(#00a381), color-stop(42%, #00a381), color-stop(43%, #eee), to(#eee));
        background: -webkit-linear-gradient(bottom, #00a381 0%, #00a381 42%, #eee 43%, #eee 100%);
        background: -o-linear-gradient(bottom, #00a381 0%, #00a381 42%, #eee 43%, #eee 100%);
        background: linear-gradient(bottom, #00a381 0%, #00a381 42%, #eee 43%, #eee 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      html body header .sns_icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 20px 5%; }
        html body header .sns_icon img {
          width: 100%;
          height: 100%; }
    html body .top {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      cursor: pointer;
      z-index: 3000; }
      html body .top img {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        width: 30px;
        -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        z-index: 1; }
      html body .top .scroll-color {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #00a381; }
      @media screen and (max-width: 1000px) {
        html body .top {
          width: 80px;
          height: 80px; }
          html body .top img {
            top: 20px;
            left: 20px;
            width: 40px; } }
    html body .wrapper {
      width: 90%;
      margin: 0 auto; }
      html body .wrapper h2 {
        display: inline-block;
        width: 100%;
        height: 30px;
        font-size: 30px;
        text-align: center;
        margin: 3em auto 0;
        color: black;
        opacity: 0.8;
        border-bottom: 2px dashed white; }
        html body .wrapper h2 .initial {
          background: #00a381;
          padding: 0 0.25em;
          color: white; }
      html body .wrapper h3 {
        display: block;
        padding: 1em;
        text-align: center;
        margin: 0 auto;
        color: #808080; }
        html body .wrapper h3 span {
          border-top: 1px dashed #808080;
          border-bottom: 1px dashed #808080;
          padding: 0.3em;
          background: rgba(255, 255, 255, 0.5); }
      html body .wrapper .desc {
        color: #a0a0a0;
        font-weight: bold;
        text-align: center; }
      html body .wrapper section {
        margin: 30px 0;
        max-width: 1200px;
        margin: 30px auto; }
      html body .wrapper .window {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5); }
        html body .wrapper .window .tabs {
          width: 100%;
          height: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background-color: #292929; }
          html body .wrapper .window .tabs .circles {
            width: 120px;
            height: 100%;
            padding: 0 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            html body .wrapper .window .tabs .circles .circle {
              width: 20px;
              height: 20px;
              margin: 15px 5px;
              border-radius: 50%; }
            html body .wrapper .window .tabs .circles .circle_red {
              background-color: #ee827c; }
            html body .wrapper .window .tabs .circles .circle_yellow {
              background-color: #f5e56b; }
            html body .wrapper .window .tabs .circles .circle_green {
              background-color: #68be8d; }
          html body .wrapper .window .tabs .tab {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 20%;
            height: 40px;
            margin-top: 20px;
            color: #c0c0c0;
            font-size: 14px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer; }
            html body .wrapper .window .tabs .tab:hover {
              margin-top: 10px;
              background-color: #333; }
              html body .wrapper .window .tabs .tab:hover img {
                margin: 10px 0 10px 10px; }
              html body .wrapper .window .tabs .tab:hover .tab_main {
                height: 30px;
                border: none;
                line-height: 40px; }
            html body .wrapper .window .tabs .tab img {
              height: 20px;
              margin: 0 0 20px 10px; }
            html body .wrapper .window .tabs .tab .tab_main {
              width: 100%;
              height: 20px;
              margin: 0 0 10px;
              padding: 0 5%;
              border-right: 1px solid #404040;
              line-height: 20px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              white-space: nowrap;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis; }
          html body .wrapper .window .tabs .tab_now {
            margin-top: 10px;
            background-color: #404040;
            color: white; }
            html body .wrapper .window .tabs .tab_now img {
              margin: 10px 0 10px 10px; }
            html body .wrapper .window .tabs .tab_now .tab_main {
              height: 30px;
              border: none;
              line-height: 40px; }
            html body .wrapper .window .tabs .tab_now:hover {
              background-color: #404040; }
        html body .wrapper .window .search {
          width: 100%;
          height: 60px;
          padding: 10px 10px 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #404040;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          html body .wrapper .window .search .search_button {
            width: 40px;
            height: 40px;
            padding: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 50%; }
            html body .wrapper .window .search .search_button:hover {
              background-color: #606060; }
            html body .wrapper .window .search .search_button img {
              width: 20px; }
            html body .wrapper .window .search .search_button .rotate {
              -webkit-transform: rotate(120deg);
              -ms-transform: rotate(120deg);
              transform: rotate(120deg); }
          html body .wrapper .window .search .search_bar {
            width: 1040px;
            height: 40px;
            border-radius: 20px;
            background-color: #333;
            line-height: 40px;
            padding-left: 3%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            color: white; }
            html body .wrapper .window .search .search_bar:hover {
              background-color: #393939; }
            html body .wrapper .window .search .search_bar a {
              margin: 0 auto;
              text-decoration: none;
              font-size: 14px;
              color: white; }
              html body .wrapper .window .search .search_bar a:visited {
                color: white; }
        html body .wrapper .window .contents {
          width: 100%;
          height: 600px;
          background-color: white;
          overflow: scroll; }
          html body .wrapper .window .contents img {
            width: 100%; }
      html body .wrapper .skills {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        html body .wrapper .skills .skill {
          width: 250px;
          background-color: white;
          padding-top: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 15px;
          margin: 33.33333px 0;
          -webkit-box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5); }
          html body .wrapper .skills .skill:hover {
            -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.5);
            margin: 23.33333px 0 43.33333px; }
          html body .wrapper .skills .skill p {
            text-align: center;
            font-weight: bold;
            color: #c0c0c0; }
          html body .wrapper .skills .skill .skill_name {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            border-top: 1px dashed #eee;
            line-height: 50px; }
          html body .wrapper .skills .skill .html {
            position: relative;
            width: 120px;
            height: 120px;
            background: #ffbf7f;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .html::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .html::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .html .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .html .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .html .circle-inner img {
              width: 35px;
              margin-top: 22.5px; }

@-webkit-keyframes rotate-html-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; } }

@keyframes rotate-html-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffbf7f; } }

@-webkit-keyframes rotate-html-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }

@keyframes rotate-html-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }
          html body .wrapper .skills .skill .html_anim::before {
            -webkit-animation: rotate-html-left 1.5s linear 1s forwards;
            animation: rotate-html-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .html_anim::after {
            -webkit-animation: rotate-html-right 1.5s linear 1s forwards;
            animation: rotate-html-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .css {
            position: relative;
            width: 120px;
            height: 120px;
            background: #7fbfff;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .css::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .css::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .css .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .css .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .css .circle-inner img {
              width: 35px;
              margin-top: 22.5px; }

@-webkit-keyframes rotate-css-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; } }

@keyframes rotate-css-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7fbfff; } }

@-webkit-keyframes rotate-css-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg); } }

@keyframes rotate-css-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg); } }
          html body .wrapper .skills .skill .css_anim::before {
            -webkit-animation: rotate-css-left 1.5s linear 1s forwards;
            animation: rotate-css-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .css_anim::after {
            -webkit-animation: rotate-css-right 1.5s linear 1s forwards;
            animation: rotate-css-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .js {
            position: relative;
            width: 120px;
            height: 120px;
            background: #ffff7f;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .js::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .js::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .js .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .js .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .js .circle-inner img {
              width: 35px;
              margin-top: 22.5px; }

@-webkit-keyframes rotate-js-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; } }

@keyframes rotate-js-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ffff7f; } }

@-webkit-keyframes rotate-js-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }

@keyframes rotate-js-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }
          html body .wrapper .skills .skill .js_anim::before {
            -webkit-animation: rotate-js-left 1.5s linear 1s forwards;
            animation: rotate-js-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .js_anim::after {
            -webkit-animation: rotate-js-right 1.5s linear 1s forwards;
            animation: rotate-js-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .vue {
            position: relative;
            width: 120px;
            height: 120px;
            background: #00ad79;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .vue::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .vue::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .vue .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .vue .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .vue .circle-inner img {
              margin-top: 25px; }

@-webkit-keyframes rotate-vue-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; } }

@keyframes rotate-vue-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #00ad79; } }

@-webkit-keyframes rotate-vue-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes rotate-vue-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }
          html body .wrapper .skills .skill .vue_anim::before {
            -webkit-animation: rotate-vue-left 1.5s linear 1s forwards;
            animation: rotate-vue-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .vue_anim::after {
            -webkit-animation: rotate-vue-right 1.5s linear 1s forwards;
            animation: rotate-vue-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .ruby {
            position: relative;
            width: 120px;
            height: 120px;
            background: #ed7b7b;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .ruby::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ruby::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ruby .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .ruby .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .ruby .circle-inner img {
              margin-top: 25px; }

@-webkit-keyframes rotate-ruby-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; } }

@keyframes rotate-ruby-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; } }
          html body .wrapper .skills .skill .ruby_anim::after {
            -webkit-animation: rotate-ruby-right 1.5s linear 1s forwards;
            animation: rotate-ruby-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .php {
            position: relative;
            width: 120px;
            height: 120px;
            background: #7174ad;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .php::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .php::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .php .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .php .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .php .circle-inner img {
              width: 50px;
              margin-top: 25px; }

@-webkit-keyframes rotate-php-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; } }

@keyframes rotate-php-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #7174ad; } }

@-webkit-keyframes rotate-php-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes rotate-php-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }
          html body .wrapper .skills .skill .php_anim::before {
            -webkit-animation: rotate-php-left 1.5s linear 1s forwards;
            animation: rotate-php-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .php_anim::after {
            -webkit-animation: rotate-php-right 1.5s linear 1s forwards;
            animation: rotate-php-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .swift {
            position: relative;
            width: 120px;
            height: 120px;
            background: #e45e32;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .swift::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .swift::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .swift .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .swift .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .swift .circle-inner img {
              width: 40px;
              margin-top: 20px; }

@-webkit-keyframes rotate-swift-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
    background: #eee; } }

@keyframes rotate-swift-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
    background: #eee; } }
          html body .wrapper .skills .skill .swift_anim::after {
            -webkit-animation: rotate-swift-right 1.5s linear 1s forwards;
            animation: rotate-swift-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .sql {
            position: relative;
            width: 120px;
            height: 120px;
            background: #006489;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .sql::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .sql::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .sql .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .sql .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .sql .circle-inner img {
              width: 30px;
              margin-top: 20px; }

@-webkit-keyframes rotate-sql-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #006489; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #006489; } }

@keyframes rotate-sql-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #006489; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #006489; } }

@-webkit-keyframes rotate-sql-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }

@keyframes rotate-sql-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }
          html body .wrapper .skills .skill .sql_anim::before {
            -webkit-animation: rotate-sql-left 1.5s linear 1s forwards;
            animation: rotate-sql-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .sql_anim::after {
            -webkit-animation: rotate-sql-right 1.5s linear 1s forwards;
            animation: rotate-sql-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .ai {
            position: relative;
            width: 120px;
            height: 120px;
            background: #ee7300;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .ai::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ai::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ai .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .ai .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .ai .circle-inner img {
              width: 40px;
              margin-top: 20px; }

@-webkit-keyframes rotate-ai-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ee7300; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ee7300; } }

@keyframes rotate-ai-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eee; }
  50.01% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ee7300; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: #ee7300; } }

@-webkit-keyframes rotate-ai-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }

@keyframes rotate-ai-left {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); } }
          html body .wrapper .skills .skill .ai_anim::before {
            -webkit-animation: rotate-ai-left 1.5s linear 1s forwards;
            animation: rotate-ai-left 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .ai_anim::after {
            -webkit-animation: rotate-ai-right 1.5s linear 1s forwards;
            animation: rotate-ai-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .ps {
            position: relative;
            width: 120px;
            height: 120px;
            background: #00b8dd;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .ps::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ps::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .ps .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .ps .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .ps .circle-inner img {
              width: 40px;
              margin-top: 20px; }

@-webkit-keyframes rotate-ps-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
    background: #eee; } }

@keyframes rotate-ps-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
    background: #eee; } }
          html body .wrapper .skills .skill .ps_anim::after {
            -webkit-animation: rotate-ps-right 1.5s linear 1s forwards;
            animation: rotate-ps-right 1.5s linear 1s forwards; }
          html body .wrapper .skills .skill .xd {
            position: relative;
            width: 120px;
            height: 120px;
            background: #d73f90;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            margin: 30px auto 0;
            z-index: 1;
            -webkit-box-shadow: 0 0 5px #a0a0a0;
            box-shadow: 0 0 5px #a0a0a0; }
            html body .wrapper .skills .skill .xd::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: -60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: right 60px;
              -ms-transform-origin: right 60px;
              transform-origin: right 60px;
              z-index: 2;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .xd::after {
              content: "";
              display: block;
              position: absolute;
              top: 0px;
              left: 60px;
              width: 120px;
              height: 120px;
              background: #eee;
              -webkit-transform-origin: left 60px;
              -ms-transform-origin: left 60px;
              transform-origin: left 60px;
              z-index: 3;
              -webkit-animation-delay: 3s;
              animation-delay: 3s; }
            html body .wrapper .skills .skill .xd .circle-inner {
              position: absolute;
              top: 20px;
              left: 20px;
              width: 80px;
              height: 80px;
              line-height: 80px;
              background: white;
              border-radius: 50%;
              z-index: 4;
              -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
              html body .wrapper .skills .skill .xd .circle-inner img {
                width: 40px;
                margin-top: 20px; }
            html body .wrapper .skills .skill .xd .circle-inner img {
              width: 40px;
              margin-top: 20px; }

@-webkit-keyframes rotate-xd-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
    background: #eee; } }

@keyframes rotate-xd-right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #eee; }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
    background: #eee; } }
          html body .wrapper .skills .skill .xd_anim::after {
            -webkit-animation: rotate-xd-right 1.5s linear 1s forwards;
            animation: rotate-xd-right 1.5s linear 1s forwards; }
        html body .wrapper .skills .invisible {
          height: 0;
          opacity: 0;
          padding: 0;
          margin: 0; }
      html body .wrapper .about {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media screen and (max-width: 1000px) {
          html body .wrapper .about {
            display: inline-block; }
            html body .wrapper .about .right {
              width: 80%;
              margin: 50px auto 0; }
              html body .wrapper .about .right p {
                text-align: center; } }
        html body .wrapper .about .left img {
          display: block;
          width: 40%;
          height: auto;
          margin: 30px auto;
          border-radius: 50%;
          -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5); }
          html body .wrapper .about .left img:hover {
            -webkit-animation: photo 0.1s linear forwards;
            animation: photo 0.1s linear forwards; }

@-webkit-keyframes photo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1) rotate(15deg);
    transform: scale(1.1) rotate(15deg); } }

@keyframes photo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1) rotate(15deg);
    transform: scale(1.1) rotate(15deg); } }
        html body .wrapper .about .left p {
          font-weight: bold;
          text-align: center;
          margin: 10px; }
          html body .wrapper .about .left p.name {
            font-size: 24px; }
          html body .wrapper .about .left p.info {
            font-size: 16px;
            color: #a0a0a0; }
        html body .wrapper .about .right p {
          font-size: 16px;
          font-weight: bold; }
          html body .wrapper .about .right p span {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #ffff66));
            background: -webkit-linear-gradient(transparent 60%, #ffff66 60%);
            background: -o-linear-gradient(transparent 60%, #ffff66 60%);
            background: linear-gradient(transparent 60%, #ffff66 60%); }
        html body .wrapper .about .right ul {
          padding-left: 1em; }
          html body .wrapper .about .right ul li {
            list-style: none;
            color: #808080;
            margin: 0.5em 0; }
            html body .wrapper .about .right ul li .when {
              background-color: #606060;
              color: white;
              padding: 0 0.2em;
              margin: 0 0.5em;
              border-radius: 0.2em; }
              html body .wrapper .about .right ul li .when .already {
                color: #666; }
            html body .wrapper .about .right ul li .skill {
              border-bottom: 1px dashed #00a381; }
            html body .wrapper .about .right ul li a {
              color: #808080; }
              html body .wrapper .about .right ul li a:visited {
                color: #808080; }
    html body footer {
      width: 100%;
      margin: 100px 0 0; }
      html body footer img {
        display: block;
        width: 15%;
        margin: 0 10% 0 auto;
        text-align: right; }
      html body footer .footer {
        width: 100%;
        background-color: #333;
        padding: 20px 0 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        html body footer .footer p {
          margin: 0;
          text-align: center;
          color: white; }
          html body footer .footer p a {
            color: white;
            text-decoration: none;
            border-bottom: 1px dashed white; }
            html body footer .footer p a:visited {
              color: white; }
        html body footer .footer .github {
          display: block;
          width: 2em;
          margin: 20px auto; }
          html body footer .footer .github img {
            width: 100%; }
            html body footer .footer .github img:hover {
              -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2); }
